
/* Settingan Awal Css */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* Style Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar-container {
  width: 88.3%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.scrolled {
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  margin-right: 1rem;
}

.links {
  display: flex;
  font-weight: 500;
  gap: 2rem;
}

.links li a {
  color: white;
}

.links li a:hover {
  transition: 0.5s;
  color: #03a9f4;
}

/* Style Container */

.container {
  width: 88.3%;
  margin: 0 auto;
}

.mt-navbar {
  margin-top: 9rem;
}

.mb-navbar {
  margin-bottom: 8rem;
}

/* Style Background */
.bg-full {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #0f172a;
}

/* Style Contact Section */
.contact-list {
  background-color: rgba(3, 7, 18, 0.25);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
  padding: 2.5rem;
}

.contact-card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.contact-card:hover {
  transition: 0.5s;
  box-shadow: -5px -5px 15px 2px rgba(0, 0, 255, 0.25),
    5px 5px 15px 2px rgba(255, 0, 0, 0.25);
  transform: translate(5px, 5px);
}

.contact-card img {
  width: 4rem;
  height: 4rem;
}

.text-contact {
  font-size: 1.875rem;
  margin-top: 1rem;
  color: white;
}

/* Style Form Section */
.form-section {
  background-color: rgba(3, 7, 18, 0.25);
  border-radius: 5px;
  gap: 1.75rem;
  padding: 2.5rem;
  margin-bottom: 3rem;
}

.form-section h1 {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.form-section label {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.form-section .input-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.form-section input,
textarea {
  width: 97%;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  border: 5px solid #03a9f4;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.form-section input::placeholder,
textarea::placeholder {
  color: #d5d5d5;
}

.input-button {
  background-color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
  border: 5px;
  outline: none;
  padding: 10px 25px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

/* Responsive Style */
@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .bg-full {
    align-items: start;
    flex-wrap: wrap;
  }
  .contact-list {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5rem;
  }
  .contact-card {
    padding: 1rem;
  }
  .contact-card img {
    width: 2rem;
    height: 2rem;
  }
}
